Django==5.2.6
argon2-cffi==25.1.0
dj-database-url==3.0.1
django-allauth[socialaccount]==65.19.2
django-axes==8.3.1
gunicorn==23.0.0
psycopg[binary]==3.2.10
whitenoise==6.9.0
django-storages[s3]==1.14.6
Pillow==11.3.0
cryptography==50.0.1
